<div class='container'>

  <div id="menu-secondary" class="menu-container menu-secondary" role="navigation">
    <button id="toggle-secondary-navigation" class="toggle-secondary-navigation"><i class="fa fa-plus"></i></button>

    <div class="menu">

      <ul id="menu-secondary-items" class="menu-secondary-items">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <li id="menu-item" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item">
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        </li>
        {{ end }}

      </ul>

    </div>

  </div>


  <ul class="social-media-icons">


    {{ with .Site.Params.social.vk }}
    <li>
      <a href="{{ . }}" data-animate-hover="pulse" class="vk" target="_blank">
        <i class="fa fa-vk" title="vk"></i>
        <span class="screen-reader-text">vkontakte</span>
      </a>
    </li>
    {{end}}

  </ul></div>
