.label {
    /* margin-left: -6px; */
    padding: 0 1px;
    white-space: nowrap;
    background: #f9f9f9bb;
}

.line {
    /* margin-left: -6px; */
    margin-top: 3px;
    padding: 0 3px;
    height: 7px;
    background: #FEE0AE url(line-bg.png) repeat-x left top;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.vis-item {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.vis-item-overflow {
    overflow: visible !important;
}

.vis-timeline {
    /* font: 14px Tahoma, Arial, sans-serif; */
    color: #666;
}

.vis-time-axis .vis-grid.vis-minor {
    border-width: 2px;
    border-color: grey;
}

.vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: #F991A3;
}

.vis-content>.vis-itemset>.vis-background {
    z-index: -1;
}

.vis-content>.vis-itemset>.vis-background>.rpsc-group {
    background: #eeeeff;
}

.vis-content>.vis-itemset>.vis-background>.rdc-group {
    background: #ffeeee;
}

.vis-grid.vis-vertical {
    background:
        linear-gradient(lightgray, lightgray) 20% bottom / 1px 90% no-repeat,
        linear-gradient(lightgray, lightgray) 40% bottom / 1px 90% no-repeat,
        linear-gradient(lightgray, lightgray) 60% bottom / 1px 90% no-repeat,
        linear-gradient(lightgray, lightgray) 80% bottom / 1px 90% no-repeat;
}

.vis-item-content {
    width: 100%;
    padding: 0px !important;
}

.vis-selected {
    background-color: transparent !important;
}

.vis-left,
.vis-timeline,
.vis-center,
.vis-left>.vis-content,
.vis-left .vis-labelset {
    background-color: transparent !important;
    border-color: transparent !important;
    /* border: 0px !important; */
}

.vis-label {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    left: 48px;
}

.vis-panel.vis-center,
.vis-panel.vis-top,
.vis-panel.vis-background.vis-vertical {
    left: 0 !important;
    width: 100% !important;
}

.vis-center .vis-shadow {
    visibility: visible !important;
}

.vis-panel.vis-top {
    border-color: transparent;
}

.popover {
    display: none;
    position: absolute;
    max-width: 500px;
    width: 350px;
    max-height: 300px;
    top: 32px;
    left: -10px;
}

.popover > .popover-body {
    overflow-y: scroll;
    height: 200px;
}

.vis-item.vis-box {
    text-align: start;
}

.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:30px;
    margin:8px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}